<h1>Please create your student</h1>
<form method="POST" action="/students">
  <p>name</p>
  <input type="text" name="name"/>

  <p>age</p>
  <input type="number" name="age"/>

  <p>slogan</p>
  <input type="text" name="slogan"/>

  <p>photo</p>
  <input type="text" name="photo_url"/>

  <input type="submit" />
</form>
